/* Desktop Styles */
.main-content {
    display: flex;
    min-height: 600px;
    max-width: fit-content;
    flex-direction: column;
    background-color: #fff;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8rem;
    padding-left: 8rem;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  
  .title-description {
    color: rgb(6, 6, 6);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.5em;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: -.025em;
  }
  
    /* border: 2px solid red; */
  .title-name{
    padding-top: 3.5rem;

    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    background: linear-gradient(180deg, #E70FAA 0%, #00C0FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 
  .highlight {
    background: linear-gradient(180deg, #E70FAA 0%, #00C0FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .head-img {
   display: block;
   position: relative;
   left: 4rem;
   bottom:  15rem;
    filter: grayscale(50);
    height: auto;
    width: 349px;
border: 2px solid rgb(239, 42, 183);
    
    border-radius: 50%;
 
  
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .head-img {
    animation: fadeIn 1s ease-in-out;
  }
  
  .my-desc {
    display: flex;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
   
    font-size: 22px;
    max-width: 100%;
    padding-left: 8rem;
    margin-top: 1.8rem;
   
  }
  
  .my-desc p {
    color: #141c3a;
    font-weight: 400;
   
  }
  

  
  .section-icons {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    border-radius: 2rem;
    color: rgb(10, 2, 2);
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .fa {
    display: flex;
    justify-content: center;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .welcome-section {
      padding: 2rem;
      padding-top: 4rem; /* Adjust the padding for smaller screens */
      text-align: left; 
      /* Center-align content */
    }
  
    .title-description {
        
      font-size: 4.2rem; /* Adjust font size for smaller screens */
    }
  
    .img-brand {
      margin-right: 2rem; /* Adjust margin for smaller screens */
    }
  
    .my-desc {
     margin-top: -1.5rem;
     margin-left: 2rem;
      padding: .5rem; /* Adjust padding for smaller screens */
     /* Center-align content */
    }
  .head-img{
    display: block;
    height: auto;
    width: 50%;
    margin-top: 0.5rem;
  
  }
    .desc {
        font-size: 4vw;
      padding: .5rem; /* Adjust padding for smaller screens */
      text-align: center; /* Center-align content */
    }
  
    .section-icons {
      justify-content: center; /* Center-align icons */
    }
  }
  @media all and (width <=418px){
    .title-name{
      font-size: 4em;
      line-height: 1em;
    }
    .title-description{
      /* border: 1px solid red; */
      font-size: 3.25em;
      line-height: 1.25em;
    }
    .my-desc{
      font-size: 1.15em;
    }
    
  }