/* Desktop Styles */
.main-content {
    display: flex;
    max-height: 600px;
    
    flex-direction: column;
    background-color:rgb(251,248,240);
    padding-bottom: 3.5rem;
    font-family: sans-serif;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8rem;
    padding-left: 8rem;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    font-size: 1px;
    font-family: sans-serif;
  }
  
  .title-description {
    color: rgb(6, 6, 6);
    font-size: 64px;
    font-weight: 550;
    line-height: 80px;
    font-family:   Roboto-serif;
    letter-spacing: -.025em;
  }
  
    /* border: 2px solid red; */
    #intro-text{
      font-family: Roboto-serif ;
      padding-top: 8rem;
      font-size: 64px;
      font-weight: 580;
      line-height: 80px;
    color: #141c3a;
    }
  .title-name{
  font-family: Roboto-serif ;
padding-top: .5rem;
    font-size: 64px;
    line-height: 80px;
    font-weight: 580;
    
  }

 .title-name h1{
  background: linear-gradient(180deg, #E70FAA 0%, #00C0FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
  /* .highlight {
    background: linear-gradient(180deg, #E70FAA 0%, #00C0FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  .head-img {
   display: block;
   position: relative;
   left: 4rem;
   bottom:  15rem;
    filter: grayscale(50);
    height: auto;
    width: 349px;
border: 2px solid rgb(239, 42, 183);
    
    border-radius: 50%;
 
  
  }
  
  b{
    color: rgb(144, 93, 22);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .head-img {
    animation: fadeIn 1s ease-in-out;
  }
  
  .my-desc {
    display: flex;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
   
    font-size: 22px;
    max-width: 100%;
   
    margin-top: 1.5rem;
   
  }
  
  .my-desc p {
    color: #141c3a;
    font-weight: 400;
   
  }
  

  
  .section-icons {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    border-radius: 2rem;
    color: rgb(10, 2, 2);
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .fa {
    display: flex;
    justify-content: center;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .welcome-section {
    
      padding: 1.2rem;
      padding-top: 5rem; /* Adjust the padding for smaller screens */
      text-align: left; 
      /* Center-align content */
    }
    #intro-text h1{
      font-size: 2.2rem;
    }
    .title-name h1{
      line-height: 2rem;
    font-size: 2.2rem
      ;
    }
  
    .title-description {
        
      font-size: 1.8rem; /* Adjust font size for smaller screens */
    }
  
    .img-brand {
      margin-right: 2rem; /* Adjust margin for smaller screens */
    }
  
    .my-desc {
    margin-top: 0rem;
font-size: 1.2rem;
     /* Adjust padding for smaller screens */
     /* Center-align content */
    }
  .head-img{
    display: block;
    height: auto;
    width: 50%;
    margin-top: 0.5rem;
  
  }
 
  
    .section-icons {
      justify-content: center; /* Center-align icons */
    }
  }
  @media all and (width <=418px){
    #intro-text{
      font-size: 2rem;
    }
    .title-name{
      font-size: 2.4rem;
      line-height: 1em;
    }
    .title-description{
      /* border: 1px solid red; */
      font-size: 2rem;
      line-height: 1.25em;
    }
    .my-desc{
      font-size: 1.1rem;
    }
    
  }